{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Store</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <h1>Products</h1>
    <div class="product-container">
        {% for product in products %}
        <div class="product-card">
            <img src="{{ product.image.url }}" alt="{{ product.title }}">
            <h3>{{ product.title }}</h3>
            <p class="price">₱ {{ product.price }}</p>
        </div>
        {% endfor %}
    </div>
</body>
</html>
